.projectBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  height: 300px;
  width: 500px;
  margin: 30px;
  padding: 0;
  position: relative;
  &:hover {
    animation: shake 0.5s;
  }
}

.btnLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.codeBtn {
  margin-top: 50px;
  font-size: 20px;
  width: 100px;
  padding: 10px 0px;
  border: 2px solid black;
  background-color: rgb(255, 247, 177);
  border-radius: 20px;
  &:hover {
    background-color: rgb(253, 249, 209);
    cursor: pointer;
  }
}

.viewBtn {
  margin-top: 50px;
  font-size: 20px;
  width: 100px;
  padding: 10px 0px;
  border: 2px solid black;
  background-color: rgb(255, 206, 142);
  border-radius: 20px;
  &:hover {
    background-color: rgb(255, 218, 170);
    cursor: pointer;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
