$dark-background: rgb(39, 39, 39);
$dark-btn: rgb(58, 58, 58);
$white-background: rgb(255, 255, 255);

$light-blue: rgb(144, 242, 255);
$light-blue-hover: rgb(196, 248, 255);

$light-orange: rgb(255, 206, 142);
$light-orange-hover: rgb(255, 218, 170);

$light-yellow: rgb(255, 247, 177);
$light-yellow-hover: rgb(253, 249, 209);

$lilac: rgb(221, 184, 255);
$lilac-hover: rgb(231, 206, 255);

$text-highlight: rgb(255, 247, 177);
