@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  @media (min-width: 320px) {
    flex-direction: column;
  }
  @media (min-width: 760px) {
    flex-direction: row;
  }
}

.title {
  color: black;
}

.darkTitle {
  color: white;
}

.darkApp {
  display: flex;
  background-color: rgb(39, 39, 39);
  min-height: 100vh;
  width: 100%;
  color: white;
  @media (min-width: 320px) {
    flex-direction: column;
  }
  @media (min-width: 760px) {
    flex-direction: row;
  }
}

.portfolioSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  @media (min-width: 320px) {
    padding-top: 250px;
  }
  @media (min-width: 760px) {
    padding-top: 30px;
  }
}

.darkPortfolioSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  align-items: center;
  min-height: 100vh;
  margin: auto;
  @media (min-width: 320px) {
    padding-top: 250px;
  }
  @media (min-width: 760px) {
    padding-top: 30px;
  }
}

.footer {
  min-height: 5vh;
  text-align: center;
  background-color: rgb(144, 242, 255);
  p {
    padding-top: 10px;
  }
  @media (min-width: 320px) {
    font-size: 12px;
  }
  @media (min-width: 760px) {
    font-size: 16px;
  }
}
